@import "/src/components/media.scss";

.nav {
    width: 100%;
    height: fit-content;
    background: #f5f5f5;
    box-shadow: 0 0 10px 1px #63636340;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 999;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1330px;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 30px;

        @include media(1105) {
            column-gap: 20px;
        }

        @include media(1000) {
            display: none;
        }
    }

    &__search {
        font-size: 28px;
        color: rgb(42, 42, 42);
        transition: 0.2s;
        position: relative;

        @include media(1105) {
            font-size: 23px;
        }

        @include media(1000) {
            display: none;
        }

        &:hover {
            color: #4B9BF0;
        }
    }

    &__search-input {
        border: 2px solid #828282;
        outline: none;
        width: 250px;
        padding: 10px;
        border-radius: 10px;
        z-index: 99;
        cursor: pointer !important;

        &::placeholder {
            color: #828282;
        }
    }

    &__form {
        position: absolute;
        opacity: 0;
        margin-top: 0px;
        transition: 0.2s;
        left: 21%;
        z-index: -1;
        cursor: none;

        @include media(1440) {
            left: 11%;
        }

        @include media(1105) {
            left: 7%;
        }

        &.active {
            opacity: 1;
            margin-top: 40px;
            // margin-top: 80px;
            cursor: pointer;
        }
    }

    &__form-search {
        position: absolute;
        right: 0px;
        top: 1px;
        font-size: 19px;
        color: aliceblue;
        padding: 9px 8px 6px 8px;
        background: #929292;
        border-radius: 0px 10px 10px 0;
        z-index: 99;
    }

    &__form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link-first {
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-size: 18px;
        color: #1c1c1c;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
            color: #4B9BF0;
        }

        &:hover .nav__link-icon {
            transform: rotate(180deg);
            color: #4B9BF0;
        }
    }

    &__link-icon {
        transition: 0.3s;
        margin-top: 0px;
    }

    &__link {
        font-size: 18px;
        color: #1c1c1c;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        transition: 0.3s;

        @include media(1105) {
            font-size: 16px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #1c1c1c;
            opacity: 0;
            transition: 0.2s;
        }

        &:hover {
            color: #4B9BF0;
        }

        &:hover::before {
            opacity: 1;
            bottom: -15px;
        }
    }

    &__lang-box {
        display: flex;
        align-items: center;
        column-gap: 5px;
        width: 30px;
    }

    &__login-img {
        font-size: 27px;
        color: #1c1c1c;
    }

    &__login-box {
        display: flex;
        align-items: center;
        column-gap: 5px;
        margin-top: 3px;
    }

    &__link-first {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-size: 18px;
        color: #1c1c1c;
        font-weight: 500;
        transition: 0.3s;

        &.active {
            color: #4B9BF0;
        }

        &.active .nav__link-icon {
            transform: rotate(180deg);
            color: #4B9BF0;
        }
    }

    // &__link-first:hover ~ &__box-list {
    //     margin-top: 45px;
    // }

    &__link-icon {
        transition: 0.3s;
        margin-top: 0px;
    }

    &__box-list {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        margin-top: -20%;
        right: 16%;
        row-gap: 10px;
        background: transparent;
        box-shadow: 0 0 10px 5px #82828218;
        padding: 17px 10px;
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
        z-index: -1;

        @include media(1441) {
            right: 20.2%;
        }

        @include media(1025) {
            right: 11%;
        }

        &.activetop {
            margin-top: 50px;
        }
    }

    &__box-link {
        color: #1c1c1c;
        font-weight: 500;
        transition: 0.2s;

        &:hover {
            color: #4B9BF0;
        }
    }

    &__lang-txt {
        color: #1c1c1c;

        @include media(1024) {
            display: none;
        }
    }

    &__login-txt {
        color: #1c1c1c;
        margin-top: -3px;

        @include media(1024) {
            display: none;
        }
    }

    &__ll-box {
        display: flex;
        align-items: center;
        column-gap: 50px;

        @include media(1025) {
            column-gap: 20px;
        }
    }

    &__media-menu {
        width: 23px;
        height: 2px;
        background: #151515;
        position: relative;
        display: none;
        transition: opacity 0.3s ease-in-out;

        @include media(1000) {
            display: block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: #151515;
            transition: all 0.3s ease-in-out;
        }

        &::before {
            top: 7px;
        }

        &::after {
            bottom: 7px;
        }

        &.open {
            background: transparent;

            &::before {
                transform: rotate(230deg);
                top: 0;
            }

            &::after {
                transform: rotate(-230deg);
                bottom: 0;
            }
        }
    }



    & .position {
        position: relative;
    }

    &__menu-box {
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 92vh;
        background: #e4e4e4;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        transition: left 0.5s ease-in-out;
        display: none;
        z-index: 999;
        
        @include media(1000) {
            display: block;
        }
    }

    &__menu-box.active {
        left: 0;
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin-top: 70px;
    }

    &__menu-form {
        position: absolute;

        @include media(1000) {
            max-width: 450px;
            width: 100%;
        }

        @include media(750) {
            max-width: 400px;
            width: 100%;
        }

        @include media(450) {
            max-width: 350px;
            width: 100%;
        }

        @include media(380) {
            max-width: 330px;
            width: 100%;
        }

        @include media(365) {
            max-width: 250px;
            width: 100%;
        }

        .nav__search-input {
            max-width: 370px;
            width: 100%;

            @include media(1000) {
                max-width: 450px;
                width: 100%;
            }

            @include media(750) {
                max-width: 400px;
                width: 100%;
            }

            @include media(450) {
                max-width: 350px;
                width: 100%;
            }

            @include media(380) {
                max-width: 330px;
                width: 100%;
            }

            @include media(325) {
                max-width: 270px;
                width: 100%;
            }
        }
    }

    &__menu-icon {
        font-size: 23px;
        color: #4B9BF0;
        margin-right: 10px;
        animation: 2s icons infinite ease-in-out;

        @keyframes icons {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
}